.slider__actions {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  margin: 0 auto 30px;
}

.slider-wrap {
}

.slider {
  display: flex;
  gap: 15px;
}

.slide {
  flex: 1;
  flex-grow: 1;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
  transition: .3s;
}
.slide.active {
  flex-grow: 3;
  width: 100%;
  box-shadow: 5px 5px 12px grey;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}
