.quote {
 padding: 70px 0 0;
 width: calc(100% - 2 * 70px);
 max-width: 1280px;
 margin: 0 auto;
 display: flex;
 flex-direction: column;
}

.quote__p{
  margin: 0;
  padding: 0px;
  font-size: 28px;
  font-style: italic;
  padding: 0 0 0 20px;
  border-left: 3px solid var(--green);
}

