.MyStoryN {
  padding: 0;
  background-color: var(--light-grey);
}

.MyStoryN__img {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  justify-content: space-around;
}

.MyStoryN__i {
  max-width: 500px;
  padding: 0;
  object-fit: cover;

}


.MyStoryN__text{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px 0;
}