.content {
  padding: 0 0 70px;
}

.content__content {
  width: calc(100% - 2 * 70px);
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.content__heading {
  margin: 0 auto 40px;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 38px;
}

@media screen and (max-width: 768px) {
  .content__content {
    width: calc(100% - 2 * 40px);
  }
}