.stage {
  padding: 70px 0;
  background-color: var(--light-grey);
}

.stage__content {
  width: calc(100% - 2 * 300px);
  max-width: 1280px;
  margin: 0 auto;
}

.stage__heading {
  margin: 0 auto 40px;
  padding: 0;
  text-align: center;
  font-weight: 400;
  font-size: 38px;
}

.stage__text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  ' listf imgf'
  'imgt listt'
  ;
  column-gap: 100px;
  row-gap: 30px;
  margin: 10px;
}

.stage__imgf {
  grid-area: imgf;
  max-height: 370px;
  margin: 5px 15px;
  align-self: center;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: var(--text-grey) 5px 5px 10px;
}
.stage__imgt {
  grid-area: imgt;
  max-height: 370px;
  margin: 5px 15px;
  align-self: center;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: var(--text-grey) 5px 5px 10px;
}

.stage__subtitle {
  grid-area: subtitle;
  color: var(--text-grey);
  margin: 0;
  padding: 0;
  font-size: 20px;
  min-height: 45px;
}

.stage__paragraph {
  grid-area: paragraph;
  font-size: 18px;
}

.stage__listf {
  grid-area: listf;
  margin: 0;
  padding: 10px;
  border-radius: 5%;
  border: 2px solid var(--text-grey);
  box-shadow: var(--text-grey) 4px 4px 5px;
}
.stage__listt {
  grid-area: listt;
  margin: 0;
  padding: 10px;
  border: 2px solid var(--text-grey);
  border-radius: 5%;
  box-shadow: var(--text-grey) 4px 4px 5px;
}

.stage__item {
  border: 2px solid var(--text-grey);
  box-shadow: var(--text-grey) 4px 4px 5px;
  padding: 15px;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 10px;
  min-width: 195px;
}

@media screen and (max-width: 1230px) {
  .stage {
    padding: 50px 0px;
  }
  .stage__content {
    width: calc(100% - 2 * 20px);
  }
  .stage__heading {
    font-size: 24px;
  }
  .stage__list {
    gap: 10px;
    flex-wrap: wrap;
  }
  .stage__item {
    max-width: 380px;
  }
  .stage__subtitle {
    min-height: 0;
  }
}

@media screen and (max-width: 768px) {
  .stage__list {
    gap: 10px;
    flex-wrap: wrap;
  }
  .stage__heading {
    font-size: 22px;
  }
  .stage__subtitle {
    font-size: 18px;
  }
  .stage__paragraph {
    font-size: 14px;
  }
}